<div class="d-flex align-items-center">
  <p class="edit_subtitle"><%= image_tag 'company_new/sign_up.png' ,class: 'member_img' %>Sign up</p>
</div>

<%= render partial: 'form', locals: { company: @company } %>
