// Place all the styles related to the boards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// show

.show_icon_img {
  width: 35px;
  margin-right: 10px;
}

.like_img {
  width: 5%;
  margin-right: 5px;
}

.user_btn {
  float: right;
}
// .company_line {
//   border-bottom: solid 2px #94A4A5;
//   margin-bottom: 5px;
//   margin-top: 5px;
// }
